<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
    <MandatoryPlugins/>
    <SVNUser>rmm</SVNUser>
    <AutoUpdaterServerURL>http://192.168.1.104:8080/SCLauncher/</AutoUpdaterServerURL>
    <AutoUpdaterEnabled>true</AutoUpdaterEnabled>
    <AutoUpdaterDevMode>false</AutoUpdaterDevMode>
    <SVNRepoURL>http://192.168.1.102/svn/repository/ru/mrekin/</SVNRepoURL>
    <ApplicationDirectory>apps/</ApplicationDirectory>
    <ApplicationShowReleaseNotes>true</ApplicationShowReleaseNotes>
    <PluginDirectory>plugins/</PluginDirectory>
    <SVNPassword>gthtgbcrf</SVNPassword>
    <PluginRepoServerURL>http://192.168.1.104:8080/SCLauncher/plugins/</PluginRepoServerURL>
</configuration>
