<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>

    <MandatoryPlugins>scl-svn-plugin,scl_mq_notif_plugin</MandatoryPlugins>
    <JavaAppOpeningMode>OSMode</JavaAppOpeningMode>>
    <SVNUser>submitter</SVNUser>
    <AutoUpdaterServerURL>http://sclauncher.ru/ftprepo/ru/mrekin/sc/sclauncher/</AutoUpdaterServerURL>
    <AutoUpdaterEnabled>true</AutoUpdaterEnabled>
    <AutoUpdaterDevMode>false</AutoUpdaterDevMode>
    <SVNRepoURL>
        https://localhost.ru/svn/deployment/.m2/repository/com/sc/tools
    </SVNRepoURL>
    <ApplicationDirectory>apps/</ApplicationDirectory>
    <ApplicationShowReleaseNotes>true</ApplicationShowReleaseNotes>
    <PluginDirectory>plugins/</PluginDirectory>
    <SVNPassword>subpass</SVNPassword>
    <UI><StartMinimized force="true">false</StartMinimized></UI>
    <PluginRepoServerURL>http://sclauncher.ru/ftprepo/ru/mrekin/sc/scl-plugins/
    </PluginRepoServerURL>
</configuration>
